@import 'variables';

.card-image {
    width: 100%; /* Passt die Bildbreite an die Kartenbreite an */
    height: auto; /* Hält das Seitenverhältnis bei */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-ul {
    list-style: none; /* Entfernt Aufzählungszeichen */
    font-size: 1em; /* Schriftgröße */
    background-color: $primary-color;
    padding-left: 0;
}

.card-property1 {
    margin-left: -10.5em;
}

    

.card-li {
    margin-bottom: 5px; /* Abstand zwischen Listenelementen */
    padding-left: 5px;
    font-weight: bold; /* Macht den Text fett */
    display: flex;
    color: $secondary-color;
    align-items: center;
    justify-content: space-between; /* Verteilt die Inhalte */
    width: 100%; /* Stellt sicher, dass das li-Element die volle Breite einnimmt */
    cursor: pointer; /* Verändert den Cursor beim Hover */
}

@media (hover: hover) {
    .card-li:hover {
        background-color: $secondary-color; 
        color: $primary-color; 
    }
  }

.scale-point {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20%; /* Macht die Bewertungspunkte rund */
}

@media (max-width: 600px) {
    .card {
        margin: 10px; /* Kleinere Ränder auf kleineren Bildschirmen */
    }
}

.card-container {
    width: 330px;
    height: 450px;
    border-radius: 1em;
    perspective: 1000px;
    transition: box-shadow 0.6s, border 0.6s; /* Optional: fügt eine Übergangseffekt hinzu */
}

/* Standardzustand der Karte ohne Rand und Schatten */
.card-container .card-flip {
    border: none;
    box-shadow: none;
}

  .card-flip {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
  }
  
  .card-flip.is-flipped {
    transform: rotateY(180deg); /* Standard */
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
    -moz-transform: rotateY(180deg); /* Firefox */
    -ms-transform: rotateY(180deg); /* Internet Explorer */
    -o-transform: rotateY(180deg); /* Alte Opera-Versionen */
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Versteckt die Rückseite während der Drehung */
  }
  
  .card-back {
    border-radius: 1em;
    transform: rotateY(180deg); /* Dreht die Rückseite um, damit sie korrekt angezeigt wird */
  }

  .property-with-scale {
    display: flex;
    align-items: center; /* Zentriert die Elemente vertikal */
    gap: 0px; /* Legt einen horizontalen Abstand zwischen den Elementen fest */
}

.card-flip .card-front, .card-flip .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Verhindert das Anzeigen der Rückseite beim Drehen */
}

/* Schatten und Rand nur anzeigen, wenn NICHT umgedreht */
.card-flip:not(.is-flipped) .card-front {
    border: solid 7px $secondary-color;
    box-shadow: 5px 5px 5px $secondary-color-light;
    border-radius: 1em;
}
.card-text{
    margin: 0 auto;
    text-align: center;
}

/* Grundlegendes Design der Sprechblase */
.card-text-bubble {
    position: relative;
    background: $primary-color-dark;
    border-radius: 4px;
    padding: 10px 20px;
    color: $secondary-color-light;
    max-width: 80%;
    margin: 15px auto;
}

/* Kleiner Pfeil an der Sprechblase */
.card-text-bubble::after {
    content: "";
    position: absolute;
    bottom: 100%;  /* Position direkt unter der Sprechblase */
    left: 47%;  /* Positionierung des Pfeils entlang der horizontalen Achse */
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent $primary-color-dark transparent;
}



  
