@import 'variables';

.game-container {
    padding: 13em 10em 0 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    transform: scale(1);
    background-color: $primary-color;
}
@media (max-width: 900px) {
   .game-container{
    transform: scale(0.9);
   }
}
@media (max-width: 800px) {
   .game-container{
    transform: scale(0.8);
    }
    .info-box{
      margin-top: -5em;
      margin-left: -5em;
    }
}
@media (max-width: 700px) {
   .game-container{
    padding: 10em 0.7em 0 0.7em;
    transform: scale(0.7);
   }
}
@media (max-width: 600px) {
   .game-container{
    padding: 5em 0.6em 0 0.6em;
    transform: scale(0.6);
   }
   .info-box{
    margin-top: -10em;
    margin-left: -10em;
  }
}
@media (max-width: 500px) {
   .game-container{
    padding: 5em 0.5em 0 0.5em;
    transform: scale(0.5);
   }
   .info-box{
    margin-top: -15em;
    margin-left: -12em;
  }
}
@media (max-width: 400px) {
   .game-container{
    padding: 0.4em 0.4em 0 0.4em;
    transform: scale(0.4);
   }
   .info-box{
    margin-top: -20em;
    margin-left: -15em;
  }
}
@media (max-width: 300px) {
   .game-container{
    padding: 0.3em 0.3em 0 0.3em;
    transform: scale(0.3);
   }
   .info-box{
    margin-top: -30em;
    margin-left: -15em;
  }
}

.button-container {
    display: flex;
    align-items: center;
    text-align: center; /* Zentriert den Button */
    margin: 20px 0; /* Vertikaler Abstand */
    justify-content: center;
    width: 100px; /* oder eine passende Breite */
    height: 50px; /* oder eine passende Höhe */
}

.hidden-button {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible-button {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 1s forwards;
}

.slide-out {
    animation: slideOut 1s forwards;
}

.comparison-result {
    margin-top: 20px; /* Abstand nach oben */
    padding: 10px; /* Innenabstand */
    background-color: #f8f9fa; /* Hintergrundfarbe */
    border-radius: 5px; /* Abgerundete Ecken */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Leichter Schatten */
    text-align: center; /* Zentriert den Text */
    font-size: 1.1rem; /* Größere Schrift */
    font-weight: bold; /* Fettgedruckter Text */
    animation: fadeInOut 4s ease-in-out;
    opacity: 0;
}
@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  
.language-toggle-button {
    position: fixed; /* Fixiert den Button auf dem Bildschirm */
    top: 10px;       /* Abstand von oben */
    right: 10px;     /* Abstand von rechts */
    z-index: 1000;   /* Stellt sicher, dass der Button über anderen Elementen liegt */
    width: 50px
}

@media (max-width: 768px) {
    .player-cards, .computer-cards {
        width: 100%; /* Nutzt die volle Breite */
    }
    .button-container, .comparison-result {
        margin: 20px auto; /* Zentriert horizontal mit Abstand */
    }
}

.result {
    width: 300px; /* Feste Breite */
    min-height: 100px; /* Minimale Höhe */
    margin: 0 auto; /* Zentriert den Bereich horizontal */
    padding: 0px; /* Innenabstand */
    border-radius: 8px; /* Abgerundete Ecken */
    display: flex; /* Aktiviert Flexbox */
    flex-direction: column; /* Stapelt die Kinder vertikal */
    justify-content: center; /* Zentriert die Inhalte vertikal */
    align-items: center; /* Zentriert die Inhalte horizontal */
    text-align: center; /* Zentriert den Text */
}

/* Anpassungen für kleinere Bildschirme */
@media (max-width: 768px) {
    .result {
        width: 50%; /* Passt die Breite auf kleineren Bildschirmen an */
    }
}

.selected-property {
    padding: 20px;
    border-radius: 8px;
    background-color: #f2f2f2;
    margin: 20px 0;
    animation: fadeIn 1s ease-out;
}

.selected-property p {
    margin: 10px 0;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Ergänzung zu den obigen Basisstilen */

.result-win {
    color: #4CAF50; /* Grün für Gewonnen */
}

.result-lose {
    color: #F44336; /* Rot für Verloren */
}

.result-draw {
    color: #FFC107; /* Gelb für Unentschieden */
}

.result-highlight {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    display: inline-block;
    margin-top: 10px;
}

/* Verstecken Sie die Aufforderung standardmäßig */
.rotate-device {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
  }
  
  /* Zeigen Sie die Aufforderung nur im Porträtmodus auf Handys an */
  @media screen and (max-width: 700px) and (orientation: portrait) {
    .rotate-device {
      display: flex;
    }
  }

  .card-count{
    color: $secondary-color;
    display: flex;
    justify-content: center; /* Zentriert den Inhalt horizontal */
    font-size: 1.5em;
    font-weight: 800;
    padding-left: 0.8em;
    padding-bottom: 0.2em;
    }


    .background{
        background-image: url('/images/background/background-1.png'); // Pfad zum Hintergrundbild anpassen
        background-size: cover; // Stellt sicher, dass das Bild den gesamten Container bedeckt
        background-position: center; // Zentriert das Bild im Container
        background-repeat: no-repeat;
    }

    .start-button-container {
      display: flex;
      justify-content: center; 
      align-items: center; 
      height: 100vh;
      animation: blink 2s linear infinite;
      will-change: opacity; // Optimiert für Opazitätsänderungen
  }

  @keyframes blink {
    0%, 100% { opacity: 0; }
    25%, 75% { opacity: 1; }
  }
  
  .satoshi-button{
    animation: blink-satoshi-button 2s linear infinite;
  }

  @keyframes blink-satoshi-button {
    0%, 100% { box-shadow: 0 0 30px $secondary-color-dark; }
    50% { box-shadow: none; }
   
  }
  
  .info-box {
    position: fixed; // Fixiert das Element auf dem Bildschirm
    top: 3em;          // Setzt es an den oberen Rand des Bildschirmbereichs
    left: 0;         // Setzt es an den linken Rand des Bildschirmbereichs
    z-index: 1000;   // Stellt sicher, dass es über anderen Inhalten liegt
  }


  @keyframes marquee {
    from {
      transform: translateX(300%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .last-turn {
    background: $primary-color-dark;
    border-radius: 0.4em;
    padding: 0.2em;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 50%;
    height: 1em; // oder die Höhe, die du brauchst
    margin: 2em auto 0 ;
    font-size: 1.5em;
  
    &::after {
      content: attr(data-last-turn); // Nutzt ein Data-Attribut für den Text
      position: absolute;
      animation: marquee 10s linear infinite; // 10 Sekunden für eine komplette Laufzeit
    }
  }

  .musik-button{
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
  }
  

 