.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
}
@media (max-width: 900px) {
    .game-container {
        flex-direction: column; /* Stapelt die Karten vertikal */
        align-items: center; /* Zentriert die Elemente */
        gap: 0em
    }
}

.end-game-message {
    margin-top: 20px;
    font-size: 24px;
    color: red;
}

.button-container {
    display: flex;
    align-items: center;
    text-align: center; /* Zentriert den Button */
    margin: 20px 0; /* Vertikaler Abstand */
    justify-content: center;
    width: 100px; /* oder eine passende Breite */
    height: 50px; /* oder eine passende Höhe */
}

.hidden-button {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible-button {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 1s forwards;
}

.slide-out {
    animation: slideOut 1s forwards;
}

.comparison-result {
    margin-top: 20px; /* Abstand nach oben */
    padding: 10px; /* Innenabstand */
    background-color: #f8f9fa; /* Hintergrundfarbe */
    border-radius: 5px; /* Abgerundete Ecken */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Leichter Schatten */
    text-align: center; /* Zentriert den Text */
    font-size: 1.1rem; /* Größere Schrift */
    font-weight: bold; /* Fettgedruckter Text */
}


.language-toggle-button {
    position: fixed; /* Fixiert den Button auf dem Bildschirm */
    top: 10px;       /* Abstand von oben */
    right: 10px;     /* Abstand von rechts */
    z-index: 1000;   /* Stellt sicher, dass der Button über anderen Elementen liegt */
    width: 50px
}

@media (max-width: 768px) {
    .player-cards, .computer-cards {
        width: 100%; /* Nutzt die volle Breite */
    }
    .button-container, .comparison-result {
        margin: 20px auto; /* Zentriert horizontal mit Abstand */
    }
}

.result {
    width: 300px; /* Feste Breite */
    min-height: 100px; /* Minimale Höhe */
    margin: 0 auto; /* Zentriert den Bereich horizontal */
    padding: 0px; /* Innenabstand */
    border-radius: 8px; /* Abgerundete Ecken */
    display: flex; /* Aktiviert Flexbox */
    flex-direction: column; /* Stapelt die Kinder vertikal */
    justify-content: center; /* Zentriert die Inhalte vertikal */
    align-items: center; /* Zentriert die Inhalte horizontal */
    text-align: center; /* Zentriert den Text */
}

/* Anpassungen für kleinere Bildschirme */
@media (max-width: 768px) {
    .result {
        width: 90%; /* Passt die Breite auf kleineren Bildschirmen an */
    }
}

  