@import 'variables';

.rating-scale {
    display: flex;
    margin-left: 1em;
    margin-right: 0.5em;
    }
    
    .scale-point {
      width: 23px;
      height: 10px;
      border: 1px solid $secondary-color-light;
      margin-right: 0px;
    }
  