section{
    margin: 0;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}
section .text{
    position: relative;
    font-size: 12vw;
    text-align: center;
    color: #000;
    -webkit-box-reflect: below -0.46em linear-gradient(transparent, #0004);
}
section .text span{
    position:relative;
    display: inline-block;
}

.hide {
    display: none;
}



